/* reset */
* {
    margin: 0;
    padding: 0;
}


/* estilos header */
.barra-nav {
    background-color: #0e0c0d !important;
}


.barra-nav-logo {
    display: flex;
    justify-content: center !important;
}

.barra-nav-admin {
    display: flex;
    justify-content: flex-end;
}



.barra-nav div img {
    border-radius: 10px;
}

.barra-nav-admin button {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    margin: 0 20px 0 0;
    background-color: #ced4da;
}

.barra-nav-admin button:hover {
    background-color: #adb5bd;
}

.cantidad-pedido {
    padding: 5px;
    margin: 0 20px 0 0;
    border-radius: 10px;
    background-color: white;
}

.precio-pedido {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px 5px 20px;
    margin: 0 20px 0 0;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    font-weight: bold;
}

.dinero-pedido {

    padding: 5px 16px 7px 8px;
    background-color: white;
    color: #0e0c0d;
}

.barra-menu {
    padding: 0;
    height: 150vh;
    background-color: #ced4da;
}

.barra-menu div button {
    border: none;
}

.titulo-menu {
    background-color: #0e0c0d !important;
    color: white !important;
    font-weight: bold;
}


.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}


.prducto-pedido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffecb6;
    margin: 5px;
    border: solid 1px;
    padding-right: 13px;
    border-radius: 5px;
}

.titulo-contenedor {
    text-align: center;
    /* background-color: #ced4da;    */
}

.tarjeta {
    margin: 30px 20px 30px 20px;
    /* padding: 20px; */
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: solid 1px #0e0c0d;
    justify-content: space-between;
    background-color: #f0f8ff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tarjeta img {
    width: 280px;
    margin: auto;
}

.info-Producto {
    color: white;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    background-color: #0e0c0d;
    align-items: center;

}

.info-Producto span {
    padding: 10px;
}


.button-card {
    padding: 10px 20px 5px 20px;
    margin: 0px;
    background-color: #ced4da;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    box-shadow: 8px 7px 13px -6px rgba(244, 146, 1, 1);
}

.button-card:hover {
    background-color: #adb5bd;
}

.confirma-divImg {

    text-align: right;
}

.confirma-divImg img {
    width: 80px;
}

.confirma-divProducto {
    text-align: left;
}

.confirma-divPrecio {
    text-align: left;
}

.container-producto {
    padding: 2px 0 2px 0 !important;
}

.container-buttons-pedido{
    display: flex;
    margin-top: 20px;
    align-content: flex-start;
    justify-content: center;
}

.valor-pagar{
    font-weight: bold;
    text-align: center;
}

.button-volver {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    margin: 0 20px 0 0;
    background-color: #ced4da;
    text-decoration: none;
    color: #0e0c0d;
}

.button-volver:hover {
    background-color: #adb5bd;
}

.button-borra {
    width: 40px;
    background-color: #ced4da;
    padding: 5px;
    border-radius: 15px;
}

.button-borra:hover {
    background-color: #adb5bd;
}


